#zombie{
    width: 150px;
    height: 150px;
    left: 43%;
    top: 30%;
    position: absolute;
}

#stop{
    width: 100px;
    left: 43%;
    top: 80%;
    position: absolute;
}

#para{
    position: absolute;
    top: 5px;
    left: 43%;
    font-size: 200%;
}

#zombie1{
    width: 150px;
    height: 150px;
    left: 43%;
    top: 30%;
    position: absolute;
}